.sidebar {
	position: relative;
	left: 0;
	width: 270px;
	padding-top: 40px;
	margin-right: 50px;
	height: 100%;
	
	.logo {
		margin-bottom: 40px;
	}
	
	.sidebarTitle {
		font-size: 20px;
		line-height: 1.9;
		font-weight: 400;
		color: #979797;
		text-transform: uppercase;
	}
	
	.navigationList {
		position: sticky;
		max-height: 80vh;
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 13px;
		overflow-y: scroll;
		margin-right: -50px;
		padding-right: 50px;
	}
}
