.sidebar {
	position: relative;
	left: 0;
	width: 320px;
	height: 100%;
	
	.sidebarTitle {
		font-size: 20px;
		line-height: 1.9;
		font-weight: 400;
		color: #979797;
		text-transform: uppercase;
	}
	
	.navigationList {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-top: 13px;
	}
}
