.shipmentBlock {
	min-height: 850px;
	padding: 30px 50px;
	border-radius: 30px;
	background: linear-gradient(135deg, #2D3038 0%, rgba(45, 48, 56, 0.00) 100%);
	color: white;
	
	.shipmentContent {
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: 100%;
		
		.contactInformation {
			h3 {
				font-size: 64px;
				font-weight: 400;
				line-height: 1.15;
				
				& ~ p {
					font-size: 16px;
					font-weight: 400;
					line-height: 1.5;
					color: #979797;
					margin-top: 1px;
				}
			}
		}
		
		.cargoInputBox {
			position: relative;
			
			& > p {
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5;
				color: #979797;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			
			.cargoInput {
				padding: 13px 40px 13px 20px;
				border-radius: 10px;
				outline: none;
				width: 320px;
				border: 1px solid transparent;
				
				font-size: 16px;
				font-weight: 400;
				line-height: 1.5;
				height: 50px;
				
				&.error {
					border: 1px solid red;
				}
				
				&::placeholder {
					font-family: "Roboto", serif;
					font-size: 16px;
					font-weight: 400;
					color: black;
				}
			}
			
			.errorText {
				position: absolute;
				bottom: -30px;
				font-size: 12px;
				text-transform: none;
				color: red;
			}
		}
		
		.cargoOutput {
			& > p {
				font-size: 34px;
				font-weight: 400;
				line-height: 1.3;
				color: #979797;
			}
			
			span {
				font-size: 56px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.2;
			}
		}
	}
}
